/* Brand colors and style set here, to facilitate future brand design changes. */

:root {
    --brand-color-1: #C95789;
    --brand-color-1-transparent: #c9578825;
    --brand-color-2: #FF828B;
    --brand-color-2-transparent: #ff828a26;
    --brand-color-3: #E7C582;
    --brand-color-3-transparent: #e7c58225;
    --brand-color-4: #00B0BA;
    --brand-color-4-transparent: #00b1ba2a;
    --brand-color-5: #0065A2;
    --brand-color-5-transparent: #0064a228;
    --brand-color-6: #031621c3;
    --brand-color-6-transparent: #03162128;
    --brand-font-family: Tahoma, Verdana, sans-serif;
    --padding-standard: 25px 20px 20px 20px;
}

/* Header colours. */

h1 {
  color: var(--brand-color-1);
  font-size: 3vw;
  font-weight: bold;
}

h2 {
  color: var(--brand-color-5);
  font-size: 2vw;
  font-weight: bold;
}

h3 {
  color: var(--brand-color-3);
  font-size: 1.5vw;
}

h4 {
  color: var(--brand-color-4);
  font-size: 1.2vw;
}

a {
  color: var(--brand-color-1);
  text-decoration: none;
}

p {
  color: var(--brand-color-5);
  font-size: 1.3vw;
}

.btn {
  background-color: var(--brand-color-5-transparent);
  border: unset;
  color: var(--brand-color-5);
}

.btn:hover {
  background-color: var(--brand-color-2-transparent);
  color: var(--brand-color-6);
}

/* Header bar with name and role on the left and navigation menu on the right. */

#header-bar {
    background-color: var(--brand-color-5-transparent);
}

.nav-link {
    font-size: 1.5vw;
    color: var(--brand-color-1);
}

.nav-link:hover {
    color: var(--brand-color-4);
}

/* About me jumbotron section clearly defined with title, summary and photo occupying 25% and responding to viewport width. */

#about-me {
  padding: var(--padding-standard);
}

.profile-photo {
  border-style: solid;
  border-width: 3px;
  border-color: var(--brand-color-4);
  border-radius: 50%;
  height: auto;
  width: 100%;
}

/* Skills section outlining learning expectations from the bootcamp. */
  
#skills {
  background-color: var(--brand-color-1-transparent);
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--brand-color-5);
  border-radius: 3%;
}

li {
  color: var(--brand-color-6);
  font-size: 1vw;
}

ul {
  list-style-type: none;
  color: var(--brand-color-6);
  font-size: 1.4vw;
}

/* Portfolio section clearly defined with title and labelled apps below that can be clicked on to open in a new tab. */

#portfolio {
  padding: var(--padding-standard);
}

.app-title {
  color: var(--brand-color-1);
  font-size: 1.8vw;
  font-weight: bold;
}

.card-img-top {
  height: 200px;
  width: auto;
}

/* Footer bar with contact information, all clickable with hover and shaadow effect. */

#contact {
  padding: 20px 20px 20px 33px;
  background-color: var(--brand-color-2-transparent);
}

#contact .btn:hover {
  background-color: var(--brand-color-3-transparent);
  color: var(--brand-color-4);
  box-shadow: 5px 5px 20px 5px var(--brand-color-1);
}

  /* Pre-Bootstrap CSS from basic version shown below here */
  

  /* Font sizes throughout set to respond to viewport width. */
  
  body {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }
